/* Page background */
html, body {
  background-color: #0d1117;
  margin: 0;
}

/* Markdown content container */
.markdown-body {
  background-color: #0d1117;
  color: #c9d1d9;
  max-width: 980px;
  margin: 2rem auto;
  padding: 2rem;
}

.image-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.image-row img {
  width: 100%;
  cursor: zoom-in;
}

.image {
  width: 50%;
  margin: 0 auto; /* center it */
}
.image img {
  width: 100%;
}

